
abstract=With the rise of data driven methods in the humanities, it becomes necessary to develop reusable and consistent methodological patterns for dealing with the various data manipulation steps. This increases transparency, replicability of the research. Data scopes present a framework for such methodological steps. 
ontologyTitle=Data Scope Ontology
ontologyPrefix=dsont
ontologyNamespaceURI=https://w3id.org/datascope#
ontologyName=Data Scope Ontology
thisVersionURI=https://w3id.org/datascope
latestVersionURI=https://w3id.org/datascope
previousVersionURI=https://github.com/biktorrr/datascope_ontology
dateOfRelease=27-11-2020
ontologyRevisionNumber=
licenseURI=http://creativecommons.org/licenses/by/2.0/
licenseName=CC-BY
licenseIconURL=null
citeAs=Victor de Boer, Ivette Bonestroo, Rik Hoekstra and Marijn Koolen A Linked Data Model for Data Scopes. In Proceedings of 14th International Conference on Metadata and Semantics Research. 2-4 December, 2020 MTSR2020
DOI=
status=Ontology Specification Draft
backwardsCompatibleWith=
publisher=null
publisherURI=null
publisherInstitution=null
publisherInstitutionURI=null
authors=Victor de Boer;Ivette Bonestroo;Marijn Koolen;Rik Hoekstra
authorsURI=http://victordeboer.com;;;
authorsInstitution=Vrije Universiteit Amsterdam;;Huygens ING;Huygens ING
authorsInstitutionURI=;;;
contributors=
contributorsURI=
contributorsInstitution=
contributorsInstitutionURI=
importedOntologyNames=DCTerms;PROV;RDF;RDFS
importedOntologyURIs=https://www.dublincore.org/specifications/dublin-core/dcmi-terms/;https://www.w3.org/TR/prov-o/;https://www.w3.org/RDF/;
extendedOntologyNames=
extendedOntologyURIs=
RDFXMLSerialization=ontology.xml
TurtleSerialization=ontology.ttl
N3Serialization=ontology.nt
JSONLDSerialization=ontology.json
